@inherits ServiceStack.Razor.ViewPage<GatewayService.LogResponse>
@using ServiceStack.Common


<html>

<head>
    <title>Log</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js" ></script>
</head>


<body>

    <style>
        body {
            font-family: 'Open Sans',sans-serif;
            background: #f8f8f8;
            color: #555;
            font-size: 16px;
            font-weight: 300;
        }

        h1 {
            font-weight: 300;
            color: #525252;
            margin: 0 0 20px 0;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            font-weight: 300;
            padding-left: 1.5em;
        }

        .request_list {
        }

        .request_block {
            padding-left: 0em;
            border: 1px solid #eee;
            background: white;
            font-weight: bold;
            margin-top: 1.0em;
            margin-bottom: 1.0em;
        }

        .handle {
            background: transparent url(/images/books/jquery-1-7/spacer.png);
            background-repeat: no-repeat;
            background-position: center bottom;
            display: block;
            float: left;
            width: 10px;
            height: 11px;
        }

        .collapsed {
            background: transparent url(/content/images/arrow_collapsed.gif);
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }

        .expanded {
            background: transparent url(/content/images/arrow_expanded.gif);
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
    </style>

    @if (Model.LogList.Count == 0)
    {
        <h1>No recent log entries</h1>
    }
    else
    {
        <h1>Recent activity</h1>
    }

    <ul class="request_list tree">
        @foreach (var entry in Model.LogList)
        {
            if (entry.Messages.Count > 0)
            {
                <li class="request_block">@entry.Time | @entry.Messages.First().Second
                    <ul>
                        @if (!entry.Request.IsNullOrEmpty())
                        {
                            <li>Json request
                                <ul>
                                    <li><pre class="prettyprint language-java">@entry.Request</pre></li>
                                </ul>
                            </li>
                        }
                        @if (entry.Messages.Count > 1)
                        {
                            for (int i = 1; i < entry.Messages.Count; i++)
                            {
                                var log = entry.Messages.ElementAt(i);
                                <li>
                                    <p style ="padding-left: @log.First.ToString()px;">
                                        @log.Second
                                    </p>
                                </li>
                            }
                        } 
                        @if (!entry.Response.IsNullOrEmpty())
                        {
                            <li>
                                Json response
                                <ul>
                                    <li><pre class="prettyprint language-java">@entry.Response</pre></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </li>
            }
        }
    </ul>

    <script>
        $(document).ready(function () {
            //jQuery(".tree ul").hide();
            jQuery(".tree li").prepend("<span class='handle'></span>");
            jQuery(".tree li:has(ul)").children(":first-child").addClass("expanded").click(function () {
                jQuery(this).toggleClass("collapsed expanded").siblings("ul").fadeToggle();
            });
        });
    </script>

</body>
</html>